<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TITEL</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <script src="/script.js"></script>
  <link rel="icon" href="/Afbeeldingen/logo/patmat.ico">
</head>

<body>
  <a href="/news.html">
    <button class="terugknop">Alle nieuws</button>
  </a>
  <img src="AFBEELDING" alt="ALTTEKST" class="nieuwsfoto"> </img>
  <h1>TITEL</h1>
  <p>TEKST <br> <br> -Schrijver</p>
</body>

</html>